@charset "utf-8";

body {
  background-image:url(soccer.jpg);
  /* margin:0; */
}

h1, h2, p {
  color: white;
  font-weight: bold;
}

div {
  font-weight: bold;
}

li {
  font-weight:bold;
  /* background:white; */
  list-style: none;
  color:white;
  margin-left: 32px;
}

span {
  color: pink;
}

a {
  color:skyblue;
}


footer {
  text-align: center;
  font-weight: bold;
}

.break {
  color: black;
}

.reference {
  color: rgba(0, 30, 255, 0.428);
}

@media (min-width: 375px) {
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 375px) {
  h2 {
    font-size:13px;
  }
}

@media (min-width: 375px) {
  h3 {
    font-size:12px;
  }
}
@media (min-width: 375px) {
  p {
    font-size:12px;
  }
}