@charset "utf-8";

body {
  background-image:url(soccer.jpg);
  /* margin:0; */
}

h1, h2, p {
  color: white;
  font-weight: bold;
}

li, div {
  font-weight:bold;
  
}

a {
  color:skyblue;
}
span {
  color:tomato;
}

footer {
  text-align: center;
  font-weight: bold;
}

button {
  all: unset;
  height: 32px;
  width:160px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}